* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.row {
    display: flex;
    width: 40%;
}

.row label {
    flex: 1;
    font-size: 2rem;
    padding: 1em;
    text-align: center;
}

.row button {
    flex: 1;
    font-size: 2rem;
    padding: 1em;
}

